@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.container{
    max-width: 1280px;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text{
    font-size: 50px;
}

ol{
    display: flex;
    gap: 30px;
    
    list-style-type: none;
    color:black;
    font-size: 20px;
    margin-right: 50px;

}

a{
    text-decoration: none;
    color: inherit;

}

i{
    margin-right: 10px;
}
ul{
    list-style-type: none;
}
.detailsSection>ul{
    display: flex;
    
    
    justify-content:space-around;
   padding: 15px;
   align-items: center;
    
}
.btn{
    padding: 20px;
    background-color: rgb(188, 184, 184);
    border-radius: 5px;
}
.Services{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
    gap: 10px;
   

}
h2{
   margin: auto;
   text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
     background-color: rgba(227, 226, 226, 0.8);
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    
}

.cardText{
    text-align: center;
    font-size: 18px;
    padding: 2px;
}

.cardImage{
    width: 180px;
    height: 180px;
}
.cardImage>img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    
}
.Why{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    
}
   

.card1{
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 20px;
    
     height: 500px;
     padding: 10px;
     gap: 20px;
}

.cardImage1{
    
   width: 1100px;
   height: 350px;
   margin: auto;
}
.cardImage1>img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    
}
.cardText1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: rgb(104, 106, 106);
    padding: 5px;
    
}

.copyright{
    text-align: center;
    padding: 5px;
}

.Map {
  margin-top: 50px;
  text-align: center; /* centers inline elements */
}

iframe {
  margin-top: 30px;
}